#################################################
# Feldgeometrie des ehemaligen Feld in Bremen #
#################################################


[FieldGeometry]

field_length		=	11850
field_width		=	7900
side_band_width		=	1000
goal_band_width		=	1000
goal_area_length	=	500
goal_area_width		=	2900
penalty_area_length	=	1500
penalty_area_width	=	4900
center_circle_radius	=	1000
corner_arc_radius	=	550
penalty_marker_distance	=	1950
line_thickness		=	50
border_line_thickness	=	100
goal_width		=	2000
goal_length		=	500
goal_height		=	1000
pole_height		=	1000
pole_diameter		=	200
pole_position_offset_x	=	500
pole_position_offset_y	=	500
ball_diameter		=	220
lineset_type = bremenA
