#################################################
# Feldgeometrie des ehemaligen Feld in Raum 302 #
#################################################


[FieldGeometry]

field_length		=	16000
field_width		=	10000
side_band_width		=	1000
goal_band_width		=	750
goal_area_length	=	750
goal_area_width		=	3500
penalty_area_length	=	2250
penalty_area_width	=	6500
center_circle_radius	=	2000
corner_arc_radius	=	750
penalty_marker_distance	=	3000
line_thickness		=	125
border_line_thickness	=	125
goal_width		=	2000
goal_length		=	500
goal_height		=	1000
pole_height		=	0
pole_diameter		=	0
pole_position_offset_x	=	500
pole_position_offset_y	=	500
ball_diameter		=	220
