#########################################
# Parameter des Bildverarbeitung        #
# nur nach Absprache mit Sascha aendern #
#########################################


[ScanLineDefault]

obstacle_detector       = SimpleObstacleDetector

inner_scan_radius       =  30
outer_scan_radius       = 320
number_of_scanlines     = 50

min_line_width      =  10
max_line_width      = 600
use_two_steps       = true
cut_lines_outside_field   = false # wird im Weltmodell gemacht
check_for_field     = false
useFieldMapper =true
useLineFilter =true
use_maximal_distance = false
maximal_distance = 6000
prefer_closest_ball = true

prefer_closest_ball = true

# Nur die Gelbe Spielfeldh�lfte benutzen (Trainingsraum)
# use_half_field = true


[Directional]
detect_lines = false
number_of_scanlines = 80
min_line_width      =  10
max_line_width      = 200
use_two_steps       = true
use_line_filter     = true
image_center_x      = 320
image_center_y      = 242
prefer_closest_ball = true

[SimpleObstacleDetector]
clustering_thresh   =  300
min_width           =  50
