##################################
# Konfiguration der Spielertypen #
##################################

[RCPlayer]

# debug-flags
DISPLAY_AREAS = 1
DISPLAY_PENALTY_AREAS =0
DISPLAY_DRIBBLE_CORRIDOR = 0
DISPLAY_FREEGOALPOS_CORRIDORS = 0
DISPLAY_SHOOTCORRIDOR = 1

# essentials
goHomeVel = 2.0
patrolVel = 0.5
dribbleVel = 2.0

targetReachedDist = 200

# dribbling
recognizeObstacleDistance = 3500
driveCorridorInnerWidth = 200
driveCorridorOuterWidth = 300

# shooting
shootCorridorWidth = 220
shootCorridorAngleTolerance = 6
shootDistance = 3000

# eigenMove,
# 'eigenMovePosY' is distance to guestGoal
# 'eigenMoveTurnPos' is +/- x-value of robotPos
eigenMovePosX = 0
eigenMovePosY = 2000
eigenMoveTurnPos = 2000

useForcedHardTurns = 0

waitForRaisedBallTimer_msec = 3000

#########################################################################################################
#
# The field is divided into 20x40 tiles, independent of the actual field-size.
# A position is specified by the x/y-coordinate of the corresponding tile like in this example.
# 
#
#   X
#       ---------------------------------------------------------------------------------------
# -10   |                                          |                                          |
#  -9   |                                          |                                          |
#  -8   |                                          |                                          |
#  -7   |                                          |                                          |
#  -6   |                                          |                                          |
#  -5   |                                          |                                          |
#  -4   |                                x         |                                          |
#  -3 |--                Defend2 (-4,-5)           |                                          --|
#  -2 |                                            |                                            |
#  -1 |                                            |                                            | 
#   0 |                                       x    |                                            |
#   1 |                       Attack1/2 (0,-2)     |                                            |
#   2 |                                            |                                            |
#   3 |--                                          |                                          --|
#   4   |                                x         |                                          |
#   5   |               Defend1/3 (4,-5)           |                                          |
#   6   |                                          |                                          |
#   7   |                                          |                                          |
#   8   |                                          |                                          |
#   9   |                                          |                                          |
#  10   |                                          |                                          |
#       ---------------------------------------------------------------------------------------
#        -20  -18 -16 -14 -12 -10 -8  -6  -4  -2   0   2   4   6   8   10  12  14  16  18  20   Y
#
#
#########################################################################################################


Formation1Defend1HomePosX = 4
Formation1Defend1HomePosY = -10
Formation1Defend2HomePosX = -4
Formation1Defend2HomePosY = -10
Formation1Defend3HomePosX = 4
Formation1Defend3HomePosY = -10
Formation1Attack1HomePosX = 0
Formation1Attack1HomePosY = -4
Formation1Attack2HomePosX = 0
Formation1Attack2HomePosY = -4
Formation1SupportHomePosX = -4
Formation1SupportHomePosY = -10

Formation2Defend1HomePosX = 2
Formation2Defend1HomePosY = -4
Formation2Defend2HomePosX = -2
Formation2Defend2HomePosY = -4
Formation2Defend3HomePosX = 2
Formation2Defend3HomePosY = -4
Formation2Attack1HomePosX = 0
Formation2Attack1HomePosY = -4
Formation2Attack2HomePosX = 0
Formation2Attack2HomePosY = -4
Formation2SupportHomePosX = -2
Formation2SupportHomePosY = -4

Defend1PatrolPos1X = 4
Defend1PatrolPos1Y = -10
Defend1PatrolPos2X = 0
Defend1PatrolPos2Y = -10
Defend2PatrolPos1X = -4
Defend2PatrolPos1Y = -10
Defend2PatrolPos2X = 0
Defend2PatrolPos2Y = -10
Defend3PatrolPos1X = 2
Defend3PatrolPos1Y = -10
Defend3PatrolPos2X = -2
Defend3PatrolPos2Y = -10
Attack1PatrolPos1X = 2
Attack1PatrolPos1Y = 0
Attack1PatrolPos2X = -2
Attack1PatrolPos2Y = 0
Attack2PatrolPos1X = 2
Attack2PatrolPos1Y = 0
Attack2PatrolPos2X = -2
Attack2PatrolPos2Y = 0
SupportPatrolPos1X = 2
SupportPatrolPos1Y = 0
SupportPatrolPos2X = -2
SupportPatrolPos2Y = 0
