

#+ field_geometry/field_geometry_302.cfg         # ehem. Feld in Raum 302 (10x8m)
#+ field_geometry/field_geometry_bremenCD.cfg    # Feldgeometrie Bremen Felder A+B+C+D
#+ field_geometry/field_geometry_portable.cfg    # transportables Tribot-Demo-Feld (5x4m)
#+ field_geometry/field_geometry_paderborn.cfg   # Paderborn-Feld
+ field_geometry/field_geometry_stuttgart.cfg   # Paderborn-Feld
#+ field_geometry/field_geometry_odesim.cfg      # Feldgeometrie von Stefans Simulator

#+ test.cfg
#########################################
# Parameter des Bildverarbeitung        #
# nur nach Absprache mit Sascha aendern #
#########################################

#####################################################
# Grundkonfiguration der Software                   #
# hier: Betreiben des richtigen Roboters mit Kamera #
#####################################################


[]

hardware_error_log  = HARDWARE_ERROR.log
hardware_info_log  = HARDWARE_INFO.log


### Weltmodelltyp auswaehlen (Dummy, File, Simulator, CondensationFilter, ErrorMinimiser):
world_model_type  = ErrorMinimiser
add_write_world_model  = true       # im Wettkampf: false
#write_world_model_info  = wminfo

### Bildverarbeitungstyp auswaehlen (Dummy, File, Simulator, ScanLine):
vision_type   = GenericMultiSource
vision_section  = SingleOmniCam
### Bildverarbeitungstyp auswaehlen (Dummy, File, Simulator, ScanLine):
#vision_type  = Dummy
#vision_section  = nix

[Journal]

output    = journal.out
verbosity   = 3
flush    = robotcontrol.log





[ScanLineDefault]

obstacle_detector       = SimpleObstacleDetector

inner_scan_radius       =  30
outer_scan_radius       = 320
number_of_scanlines     = 50

min_line_width      =  10
max_line_width      = 600
use_two_steps       = true
cut_lines_outside_field   = false # wird im Weltmodell gemacht
check_for_field     = false
useFieldMapper =true
useLineFilter =true
use_maximal_distance = false
maximal_distance = 6000
prefer_closest_ball = true

prefer_closest_ball = true

# Nur die Gelbe Spielfeldh�lfte benutzen (Trainingsraum)
# use_half_field = true


[Directional]
detect_lines = false
number_of_scanlines = 80
min_line_width      =  10
max_line_width      = 200
use_two_steps       = true
use_line_filter     = true
image_center_x      = 320
image_center_y      = 242
prefer_closest_ball = true

[SimpleObstacleDetector]
clustering_thresh   =  300
min_width           =  50
### ImageProducer sections

[ImageProducer_Omni]
image_source		= PS3
analysis_format		= YUV
#monitor 		 = FileMonitor

[ImageProducer_Perspective]
image_source		= Basler
analysis_format		= YUV
#monitor 		 = FileMonitor

[ImageProducer_File]
image_source		= FileSource
analysis_format        	= RGB
#monitor 		 = FileMonitor


### Camera sections

[Sony_DFWV500]
image_source_type       = CameraSource
device_name             = /dev/video1394/1
port                    = 0
mode                    = Format0 640x480 YUV422 30fps
blocking                = 1
delay			= 60
color_classifier_type   = YUVLut
self_test               = true
color_classifier_file   = $HOME/.robotcontrol/colors.lut
mapping_type		= omni    # directed
mapping_file		= $HOME/.robotcontrol/dist_marker.cfg
camera_height		= 710.
robot_mask_file	        = $HOME/.robotcontrol/image_mask.ppm
++ $HOME/.robotcontrol/Sony_DFW.cfg
adjust_gain             = true
shutter_range           = 2048 2575
sutter_logic            = -1

[PtGrey]
image_source_type       = CameraSource
device_name             = /dev/video1394-0
port                    = 0
mode                    = Format0 640x480 YUV422 30fps
blocking                = 1
delay			= 60
color_classifier_type   = YUVLut
self_test               = true
color_classifier_file   = $HOME/.robotcontrol/colors.lut
mapping_type		= omni    # directed
mapping_file		= $HOME/.robotcontrol/dist_marker.cfg
camera_height		= 710.
robot_mask_file	        = $HOME/.robotcontrol/image_mask.ppm
#++ $HOME/.robotcontrol/PtGrey.cfg
adjust_gain             = true
shutter_range           = 2048 2575
sutter_logic            = -1




[PS3]
image_source_type     = PS3
device_name             = /dev/video0
port                    = 0
mode                    = Format0 640x480 YUV420 60fps
blocking                = 1
delay                                 = 40
color_classifier_type   = YUVLut
self_test               = true
color_classifier_file   = $HOME/.robotcontrol/colors.lut
mapping_type                    = omni
mapping_file                    = $HOME/.robotcontrol/dist_marker.cfg
++ $HOME/.robotcontrol/ps3eye.cfg
camera_height                   = 440.
robot_mask_file         = $HOME/.robotcontrol/image_mask.ppm
adjust_gain             = false
shutter_range           = 2048 2575

sharpness = 0
contrast = 32
framerate                               = 15 
image_size                              = 640 480
adjust_gain             = true
#shutter_range           = 2048 2575
sutter_logic            = +1
soft_exposure                   = true
soft_white_balance              = true
temperature_only                = true
white_balance_rate              = 3
default_temperature     = 10000
default_gain            = 173
default_exposure        = 396
backlight_compensation  = 2
balance_step            = 1

video_device_number             = 0



[Basler]
image_source_type       = CameraSource
device_name             = /dev/video1394/1
port                    = 0
blocking                = 0
delay                   = 70
color_classifier_type   = YUVLut
self_test               = false
color_classifier_file   = $HOME/.robotcontrol/colors_basler.lut
mapping_type            = directed
mapping_file            = $HOME/.robotcontrol/directional_calibration.cfg
#robot_mask_file        = $HOME/.robotcontrol/image_mask.ppm
++ $HOME/.robotcontrol/Basler.cfg
# modeline as well as offset
++ $HOME/.robotcontrol/BaslerSpecific.cfg


[FileSource]
image_source_type	= FileSource
filename		= Logs/image.log
color_classifier_type   = YUVLut
color_classifier_file   = $HOME/.robotcontrol/colors.lut
image2world_marker_file = $HOME/.robotcontrol/dist_marker.cfg
robot_mask_file	        = $HOME/.robotcontrol/image_mask.ppm
++ $HOME/.robotcontrol/File.cfg
mapping_type		= omni    # directed
mapping_file		= $HOME/.robotcontrol/dist_marker.cfg
camera_height		= 710.


[DEFAULT_CAMERA]
image_source_type       = CameraSource
device_name             = /dev/video1394/1
port                    = 0
mode                    = Format0 640x480 YUV422 30fps
blocking                = 0
delay			= 70
color_classifier_type   = YUVLut
self_test               = true
color_classifier_file   = $HOME/.robotcontrol/colors.lut
mapping_type						= omni
mapping_file 						= $HOME/.robotcontrol/dist_marker.cfg
robot_mask_file	= 



### Monitor section

[FileMonitor]
filename_base		= Logs/image
#file_type		 = JPEG
file_type		= BufferedPPM
#single_file		 = true
step			= 1

[BufferedIO]
buffers = 300

[JPEGIO]
quality = 70
image_sources   = ImageProducer_Omni  # ImageProducer_Omni, ImageProducer_File

[SingleOmniCam]

image_processing_types    = ScanLine
image_processing_sections = ScanLineDefault
image_producer_sections   = ImageProducer_Omni  # ImageProducer_Omni, ImageProducer_File
camera_fusion_style       = failsafe

[TwoCameras]

image_processing_types    = ScanLine Directional
image_processing_sections = ScanLineDefault Directional
image_producer_sections   = ImageProducer_Omni ImageProducer_Perspective
camera_fusion_style       = fuse

# camera_fusion_style defines how multiple cameras are fused, parameters are:
# failsafe    : only use information from additional cameras if primary camera does not yield (ball) information
# independent : use information from all cameras (indepedently) but do not fuse
# fuse        : if possible, fuse camera information yielding stereoscopic depth


[OmniDistanceCalibration]

# always add a 0 in front of the real markers !!!
# Tribots
#real_distances = 0 500 700 1000 1400 1800 2300 3000 4000 8000 16000 1000000
#marker_type = null wb bw wb bw wb bw wb bw wr rm rw

#Icebots-Tapete
#real_distances = 0 500 700 900 1200 1500 2000 2500 3200 4360 5590 8000
#marker_type = null wb bw wb bw wb bw wb bw wr rm rw


#Stuttgart Tapete
real_distances =   0      750 1000 1250 2000 2250 3000 3500 5500 8000 160000 100000
marker_type =    null  wb bw  wb   bw    wb     bw    wb     bw         wr     rm      rw
